@font-face {
  font-family: "myfont";
  src: url("../../assets/fonts/slice-regular-webfont.woff2") format("woff2");
}

.mycontainer {
  position: relative;
}

.logo,
.text {
  float: left;
  margin: 0;
}
.text > h1 {
  margin-block-end: 0px;
  color: #583e81 !important;
}

.text > h4 {
  margin-block-start: 0px;
  line-height: 10px;
  color: #583e81 !important;
}
